@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html, body {
	height: 100%;
  	width: 100%;
	background-color: #d5e1ef;
	font-family: Outfit;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	padding: 20px;
	width: 260px;
	border-radius: 15px;
	background-color: #ffffff;
}

img {
	width:100%;
	border-radius: 15px;
}

h1 {
	font-weight: 700;
	font-size: 20px;
}

p {
	font-weight:400;
	font-size: 15px;
	color: #7b869d;
}

div {
	font-weight:400;
	font-size: 11px;
	color: #7b869d;
}

a {
	color: #3E52A3;
	text-decoration: none;
}